.starting-p{
    font-size: 3.5rem;
    font-family: "NAUSS-Bold";
    color: $mainColor;
    margin-bottom: 28px;
    margin-top: 45px;
    line-height: 50px;
}
.title-with-arrow{
    font-size: 3rem;
    font-family: "NAUSS-Bold";
    color: $mainGold;
    line-height: 49px;
    position: relative;
    padding-#{$start-direction}: 29px;
    &::before{
        content: "";
        position: absolute;
        width: 14px;
        height: 19px;
        #{$start-direction}:0;
        top: 16px;
        background-image: url(../images/Council/title-arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.main-council-sec{
    background-color: #F9F9F9;
    background-image: url(../images/Council/main-member-bg.svg);
    background-repeat: no-repeat;
    // background-size: contain;
    background-position: #{$start-direction} bottom;
    .title-with-arrow{
        margin-bottom: 20px;
    }
}
.list-council-cards{
    background-color: #fff;
    .title-with-arrow{
        margin-bottom: 45px;
        margin-top: 24px;
    }
}
.council-card{
    background-color: #fff;
    filter: drop-shadow(0 3px 25px rgba($color: #000000, $alpha: 0.08));
    // box-shadow: 0 3px 25px rgba($color: #000000, $alpha: 0.08);
    width: 100%;
    height: 520px;
    margin-bottom: 40px;
    .img-box{
        width: 100%;
        height: 372px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 500ms;
        }
    }
    .content-box{
        padding: 29px 16px 13px;
        text-align: center;
        h4{
            font-size: 2.1rem;
            font-family: "NAUSS-Bold";
            line-height: 35px;
            color: $mainColor;
            margin-bottom: 3px;
        }
        p{
            font-size: 1.6rem;
            font-family: "GretaTextArabicARLT-Regular";
            line-height: 22px;
            color: $blackColor;
            margin-bottom: 5px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &:hover{
        .img-box{
            img{
                transform: scale(1.1);
            }
        }
    }

    &.main-card{
        height: 598px;
        position: relative;
        background-color: transparent;
        // overflow: hidden;
        margin-top: 70px;
        &::before{
                content: "";
                position: absolute;
                width: 340px;
                height: calc(100% + 50px);
                top: -50px;
                #{$start-direction}: -35px;
                background-image: url(../images/Council/main-mem-shape.svg);
                background-repeat: no-repeat;
                background-size: 100%;
                z-index: -1;
        }
        .img-box{
            height: 443px;
            position: relative;
            background-image: url(../images/Council/shape.svg);
            // background-repeat: no-repeat;
            // background-size: 100%;
            overflow: hidden;
            -webkit-mask-image: url(../images/Council/shape.svg);
            mask-image: url(../images/Council/shape.svg);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: cover;
            mask-size: cover;
            // &::after{
            //     content: "";
            //     position: absolute;
            //     width: 100%;
            //     height: 100%;
            //     top: 0;
            //     right: 0;
            //     background-image: url(../images/Council/shape.svg);
            //     background-repeat: no-repeat;
            //     background-size: 100%;
            //     overflow: hidden;
            // }
        }
        .content-box{
            padding-top: 25px;
            background-color: #fff;
            height: 155px;
            h5{
                font-size: 1.6rem;
                color: $mainGold;
                margin-bottom: 0;
            }
            h4{
                margin-top: -3px;
            }
        }
    }
}