// montserrat
@font-face {
    font-family: "NAUSS-Bold";
    src: url($font-path + "NAUSS-Bold.otf");
  }
  @font-face {
    font-family: "nauss-medium";
    src: url($font-path + "nauss-medium.otf");
  }
  @font-face {
    font-family: "nauss-regular";
    src: url($font-path + "nauss-regular.otf");
  }
  @font-face {
    font-family: "nauss-light";
    src: url($font-path + "nauss-light.otf");
  }
  @font-face {
    font-family: "GretaTextArabicARLT-Bold";
    src: url($font-path + "GretaTextArabicARLT-Bold.ttf");
  }
  @font-face {
    font-family: "GretaTextArabicARLT-Medium";
    src: url($font-path + "GretaTextArabicARLT-Medium.ttf");
  }
  @font-face {
    font-family: "GretaTextArabicARLT-Regular";
    src: url($font-path + "GretaTextArabicARLT-Regular.ttf");
  }
