/*** RTL websites ***/
@font-face {
  font-family: "NAUSS-Bold";
  src: url("../fonts/NAUSS-Bold.otf");
}

@font-face {
  font-family: "nauss-medium";
  src: url("../fonts/nauss-medium.otf");
}

@font-face {
  font-family: "nauss-regular";
  src: url("../fonts/nauss-regular.otf");
}

@font-face {
  font-family: "nauss-light";
  src: url("../fonts/nauss-light.otf");
}

@font-face {
  font-family: "GretaTextArabicARLT-Bold";
  src: url("../fonts/GretaTextArabicARLT-Bold.ttf");
}

@font-face {
  font-family: "GretaTextArabicARLT-Medium";
  src: url("../fonts/GretaTextArabicARLT-Medium.ttf");
}

@font-face {
  font-family: "GretaTextArabicARLT-Regular";
  src: url("../fonts/GretaTextArabicARLT-Regular.ttf");
}

body {
  font-family: "nauss-regular";
  direction: rtl;
  text-align: right;
}

html[dir="rtl"] body {
  font-family: "nauss-regular";
}

*,
*:focus,
*:active,
button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 16px;
  color: #005F61;
  line-height: 30px;
}

h4 {
  font-size: 22px;
  font-weight: bold;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.pl-15 {
  padding-right: 15px !important;
}

.pl-30 {
  padding-right: 30px !important;
}

.strong {
  font-weight: bold;
}

ul.blue-dots {
  list-style: none;
  line-height: 32px;
}

ul.blue-dots li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 10px;
}

ol {
  list-style: decimal;
  line-height: 32px;
}

ol li {
  padding-right: 10px;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

body {
  scroll-padding-top: 140px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 140px;
  font-size: 62.5%;
}

a {
  text-decoration: unset;
}

img {
  max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

input::-webkit-input-placeholder {
  font-size: 1.6rem;
  font-family: "GretaTextArabicARLT-Regular";
  color: rgba(0, 25, 46, 0.5);
}

input:-ms-input-placeholder {
  font-size: 1.6rem;
  font-family: "GretaTextArabicARLT-Regular";
  color: rgba(0, 25, 46, 0.5);
}

input::-ms-input-placeholder {
  font-size: 1.6rem;
  font-family: "GretaTextArabicARLT-Regular";
  color: rgba(0, 25, 46, 0.5);
}

input::placeholder {
  font-size: 1.6rem;
  font-family: "GretaTextArabicARLT-Regular";
  color: rgba(0, 25, 46, 0.5);
}

.flexCenter, .plusMin, .customMenu .langMenu > a, .customMenu .langMenu .dropdown-menu li.spliter,
.customMenu .langMenu .dropdown-menu li.spliter ~ li, .NewFullBanner .newsSlideWarp .NSTxt, .eventsSec .eventWapper .fromTo, .eventsSec .eventWapper .fromTo strong, .ourPartners .partBox .logoPart, .bannerImg2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexSpaceBetween, .subsBox, .NFooter .socialFooter, .advantSec .forTwoFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.positionAbsolute, .btnMainGold::after,
.btnMain::after,
.readMore2::after,
.readMore::after, .videoPl strong::after, .scrollStickyDonts a::after, .plusMin::after, .plusMin::before, .PLbox .hiddenTxt::after, .bannerHome .wrapperSlideHm::after, .compSection .capmWapper.withTxt::before, .eventsSec::after, .NFooter .importantlinks li a:hover::after, .bgBreadcrumb .breadcrumbCum a::after, .bannerImg2::after, .progTxtBg::after, .progTxtBg .progTxt .videoProg .videoPl, .progTxtBg .progTxt .videoProg .videoPl::after, .progTxtBg .progTxt .videoProg .videoPl strong, .aimUl li::after {
  position: absolute;
  content: "";
}

.multine-ellipsis2, .PLbox .hiddenTxt p.font16, .swiper2Style .wapperSlideTow .font18, .swiper2Style .wapperSlideTow .NFooter .contactUs a, .NFooter .contactUs .swiper2Style .wapperSlideTow a,
.swiper2Style .wapperSlideTow .NFooter .importantlinks a, .NFooter .importantlinks .swiper2Style .wapperSlideTow a, .compSection .capmWapper .font40, .slider5Item .slid5Warp .font24, .NewFullBanner .newsSlideWarp .NSTxt .font20, .NewFullBanner .newsSlideWarp .NSTxt .sildeTabs .nav-pills .nav-link, .sildeTabs .nav-pills .NewFullBanner .newsSlideWarp .NSTxt .nav-link, .newsSection .newsBox .txtN .font24, .eventsSec .eventWapper .font20Bold, .studiesSec .studyBox2 .txtSt .font20Bold, .ourNum .galleryWrap .font30, .ourNum .galleryWrap .loadMore, .ourNum .thumbWrap h2, .ourNum .thumbWrap p, .impAchievement .impAchiWrap .ImpAchiBox .font40, .impAchievement .impAchiWrap .ImpAchiBox .p22B, .ourPartners .partBox .p16, .progTxtBg .progTxt .p20, .resultEducation .resEdWrapper div .p18 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
}

.font18, .NFooter .contactUs a,
.NFooter .importantlinks a,
.font24,
.font22,
.font30,
.loadMore,
.font35,
.font26,
.font20Bold,
.font40 {
  color: #005f61;
}

.font24,
.font22,
.font30,
.loadMore,
.font35,
.font26,
.font20Bold,
.font40 {
  font-family: "NAUSS-Bold";
}

.font16, .bgBreadcrumb .breadcrumbCum a {
  font-size: 1.6rem;
  font-family: "GretaTextArabicARLT-Regular";
}

.font18, .NFooter .contactUs a,
.NFooter .importantlinks a {
  font-size: 1.8rem;
  font-family: "GretaTextArabicARLT-Regular";
}

.font20, .sildeTabs .nav-pills .nav-link {
  font-size: 2rem;
  font-family: "GretaTextArabicARLT-Regular";
}

.font20Bold {
  font-size: 2rem;
}

.font22 {
  font-size: 2.2rem;
}

.font26 {
  font-size: 2.6rem;
}

.font20BG {
  font-size: 2rem;
  font-family: "GretaTextArabicARLT-Regular";
  color: #fff;
  background-color: #c6aa76;
  display: inline-block;
  padding: 3px 5px;
}

.font24 {
  font-size: 2.4rem;
}


.font30,
.loadMore {
  font-size: 3rem;
}

.font35 {
  font-size: 3.5rem;
}

.font40 {
  font-size: 4rem;
}

.p18,
.p16,
.p20 {
  font-family: "GretaTextArabicARLT-Regular";
  color: #00192e;
}

.p16 {
  font-size: 1.6rem;
}

.p18 {
  font-size: 1.8rem;
}

.p20 {
  font-size: 2rem;
}

.p22B {
  font-size: 2.2rem;
  color: #c6aa76;
  font-family: 'GretaTextArabicARLT-Bold';
}

.modal-dialog-center {
  max-width: 800px;
  min-height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
}

@media (max-width: 768px) {
  .modal-dialog-center {
    min-height: calc(100vh - 20px);
  }
}

a:hover {
  color: #c6aa76;
}

.btnMainGold,
.btnMain,
.readMore2,
.readMore {
  display: inline-block;
  border: 2px solid #fff;
  padding: 13px 15px 7px 15px;
  padding-left: 30px;
  border-radius: 8px;
  color: #fff;
  font-size: 1.8rem;
  font-family: "GretaTextArabicARLT-Regular";
  position: relative;
  -webkit-transition: .25s;
  transition: .25s;
}

.btnMainGold::after,
.btnMain::after,
.readMore2::after,
.readMore::after {
  background: transparent url(../images/home/arrowReadMore.svg) no-repeat;
  width: 14px;
  height: 12px;
  left: 12px;
  top: 54%;
  -webkit-transform: translatey(-54%);
          transform: translatey(-54%);
  background-size: 15px;
}

.btnMainGold:hover,
.btnMain:hover,
.readMore2:hover,
.readMore:hover {
  color: #fff;
}

.btnMainGold {
  background-color: #c6aa76;
  border-color: #c6aa76;
  color: #fff;
}

.btnMainGold:hover {
  background-color: #fff;
  border-color: #fff;
  color: #005F61;
}

.btnMainGold:hover::after {
  background: transparent url(../images/home/arrowReadMoreGreen.svg) no-repeat;
}

.btnMain {
  padding-left: 15px;
}

.btnMain:hover {
  color: #c6aa76;
  border-color: #c6aa76;
}

.btnMain::after {
  display: none;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.date span {
  font-size: 16px;
  margin-right: 6px;
  font-family: "GretaTextArabicARLT-Regular";
  color: #c6aa76;
}

.readMore2 {
  color: #005f61;
  border: 2px solid #c6aa76;
  padding-left: 44px;
}

.readMore2::after {
  background: transparent url(../images/home/arrowReadMoreGreen.svg) no-repeat;
}

.readMore2:hover {
  background: #c6aa76;
}

.readMore2:hover::after {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

@-webkit-keyframes playVideo {
  0% {
    background-color: rgba(255, 255, 255, 0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@keyframes playVideo {
  0% {
    background-color: rgba(255, 255, 255, 0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@-webkit-keyframes playVideoAfter {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
    border: 1px solid rgba(255, 255, 255, 0);
  }
}

@keyframes playVideoAfter {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
    border: 1px solid rgba(255, 255, 255, 0);
  }
}

.videoPl span,
.videoPl {
  color: #fff;
  font-size: 18px;
  font-family: "GretaTextArabicARLT-Regular";
}

.videoPl strong {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
  position: relative;
}

.videoPl strong::after {
  width: 110%;
  height: 110%;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.videoPl strong:hover {
  -webkit-animation: playVideo .5s linear .3s 1 forwards;
          animation: playVideo .5s linear .3s 1 forwards;
}

.videoPl strong:hover::after {
  -webkit-animation: playVideoAfter .5s linear 0s 1 forwards;
          animation: playVideoAfter .5s linear 0s 1 forwards;
}

.readMore3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.readMore3 span {
  font-size: 16px;
  margin-left: 5px;
  font-family: "GretaTextArabicARLT-Regular";
  color: #005f61;
}

.socialBanner {
  position: absolute;
  left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 40%;
  z-index: 3;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.socialBanner a {
  margin-bottom: 28px;
}

.socialBanner a img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  display: inline-block;
}

.socialBanner a:hover img {
  -webkit-filter: unset;
          filter: unset;
}

.scrollStickyDonts {
  position: fixed;
  content: "";
  right: 34px;
  top: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
}

.scrollStickyDonts a {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #c6aa76;
  border-radius: 50px;
  position: relative;
  margin-bottom: 40px;
}

.scrollStickyDonts a::after {
  width: 1px;
  height: 48px;
  background: #c6aa76;
  left: 6px;
  top: 7px;
}

.scrollStickyDonts a:last-of-type {
  margin-bottom: 0px;
}

.scrollStickyDonts a:last-of-type::after {
  content: unset;
}

.plusMin {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px !important;
  background: #fff;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.plusMin::after, .plusMin::before {
  width: 10px;
  height: 2px;
  background: #005f61;
}

.plusMin::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.plusMin.minHid::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.plusMin.minHid + .container .swiper-twoHome {
  height: 0;
}

.loadMore {
  padding: 5px 60px;
  -webkit-transition: .25s;
  transition: .25s;
  min-width: 278px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

.loadMore::before, .loadMore::after {
  content: '';
  width: 50px;
  height: 20px;
  background: transparent url(../images/ProgramsLanding/loadingArrow.svg) no-repeat;
  float: left;
  background-position: center bottom;
}

.loadMore::after {
  float: right;
}

.loadMore:hover {
  background: #005f611a;
  color: #005F61;
}

body .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 6px;
  display: inline-block;
  border-radius: 50%;
  background: rgba(0, 95, 97, 0.38);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 20px;
  background: #005f61;
}

.swiperMainControl {
  height: 30px;
  position: relative;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
}

.swiperMainControl .swiper-button-next,
.swiperMainControl .swiper-button-prev {
  position: relative;
  width: 30px;
}

.swiperMainControl .swiper-button-prev::after,
.swiperMainControl .swiper-button-next::after {
  background: transparent url(../images/shared/arrow-square-left-mainColor.svg);
  content: "";
  width: 30px;
  height: 30px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiperMainControl .swiper-button-next::after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.swiperMainControl .swiper-pagination {
  width: auto;
  position: relative;
  margin: 0 20px;
  bottom: -9px;
  height: 30px;
}

.whitePatter .swiper-button-prev::after, .whitePatter .swiper-button-next::after {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.whitePatter .swiper-pagination-bullet {
  background-color: #fff;
}

.whitePatter .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}

.Speaker {
  position: absolute;
  left: 0;
  top: 55px;
  background: #c7af81;
  z-index: 9;
  width: 51px;
  height: 42px;
  border-radius: 0 4px 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PLbox {
  position: relative;
  max-width: 506px;
  height: 506px;
  border-radius: 6px;
  margin-bottom: 70px;
}

.PLbox:hover > img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.PLbox:hover .hiddenTxt {
  height: 90%;
}

.PLbox:hover .hiddenTxt::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.PLbox > img {
  width: 100%;
  height: 100%;
}

.PLbox .hiddenTxt {
  position: absolute;
  z-index: 2;
  bottom: -37px;
  background: #fff;
  width: calc(100% - 44px);
  left: 22px;
  padding: 14px 20px;
  border-radius: 6px;
  height: 125px;
  -webkit-transition: .25s;
  transition: .25s;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.PLbox .hiddenTxt::after {
  width: 44px;
  height: 44px;
  background: transparent url(../images/arrowGreenUp.svg) no-repeat;
  left: 20px;
  top: 29px;
  -webkit-transition: .35s;
  transition: .35s;
}

.PLbox .hiddenTxt .PLNhead {
  margin-bottom: 35px;
  height: 88px;
  width: 80%;
  -webkit-line-clamp: 3;
}

.PLbox .hiddenTxt .font16, .PLbox .hiddenTxt .bgBreadcrumb .breadcrumbCum a, .bgBreadcrumb .breadcrumbCum .PLbox .hiddenTxt a {
  color: #002D2E;
}

.PLbox .hiddenTxt h3.font16 {
  margin-bottom: 30px;
}

.PLbox .hiddenTxt p.font16 {
  margin-bottom: 13px;
  height: 171px;
  -webkit-line-clamp: 6;
}

.PLbox .btnMainGold:hover {
  background-color: #c6aa76;
  border-color: #c6aa76;
  color: #fff;
}

.PLbox .btnMainGold:hover::after {
  background: transparent url(../images/home/arrowReadMore.svg) no-repeat;
}

.tabsStyle1 {
  border: unset;
}

.tabsStyle1 .nav-item .nav-link {
  padding: 12px 13px 8px 13px;
  font-size: 1.8rem;
  font-family: 'GretaTextArabicARLT-Regular';
  border-radius: 8px;
  border: 2px solid #C6AA76;
  color: #005F61;
  margin-right: 16px;
}

.tabsStyle1 .nav-item .nav-link.active {
  background: #005F61;
  color: #fff;
  border-color: #005F61;
}

.table > :not(caption) > * > * {
  padding: 17px 17px;
  font-size: 20px;
  font-family: 'GretaTextArabicARLT-Regular';
}

table thead {
  background: #005F61;
  color: #fff;
}

table thead th {
  color: #fff;
}

table tbody tr {
  background: #fff;
  border-bottom: transparent;
}

table tbody tr td {
  color: #002D2E;
}

table tbody tr:nth-child(odd) {
  background: #ebf2f2;
}

@-webkit-keyframes scrollD {
  from {
    bottom: 25px;
  }
  to {
    bottom: 0px;
  }
}

.scrollDown {
  margin: 0 auto;
  width: 23px;
  height: 36px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 64px;
  border: 3px solid #fff;
  left: 41px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 18px;
  z-index: 5;
}

.scrollDown::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 27px;
  left: 8px;
  background: #fff;
  top: -40px;
}

.scrollDown::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 8px;
  background-color: #fff;
  bottom: 6px;
  right: 6px;
  border-radius: 18px;
  -webkit-animation: scrollD linear 2s 3;
          animation: scrollD linear 2s 3;
}

.topMenu {
  background: #f1f1f2;
  padding: 16px 0px;
}

.topMenu a span,
.topMenu a {
  color: #005f61;
  font-size: 16px;
  font-family: "nauss-medium";
}

.topMenu a span:not(:last-of-type),
.topMenu a:not(:last-of-type) {
  margin-left: 24px;
  display: inline-block;
}

.topMenu a span img,
.topMenu a img {
  margin-left: 3px;
}

.customMenu.menuBg.fixedTop {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  left: 0;
}

.forMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 140px;
  display: none;
}

.customMenu.menuBg.fixedTop + .forMenu {
  display: block;
}

.customMenu .navbar {
  background: #005f61;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-shadow: 1px 3px 4px 0 #adadad33;
          box-shadow: 1px 3px 4px 0 #adadad33;
  min-height: 140px;
}

.customMenu .navbar > .container {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.customMenu .navbar-nav .dropdown-menu.megamenu {
  background: #017678;
  border: unset;
  margin: 0;
  -webkit-box-shadow: 0 20px 45px #ababab4f;
          box-shadow: 0 20px 45px #ababab4f;
  background-image: url(../images/home/ArtworkMenu.svg);
  background-repeat: no-repeat;
  background-position: left;
  border-top-width: 0 !important;
  border: 0;
  padding: 60px 0 20px 0;
  background-size: 260px;
  background-position: bottom left;
  min-height: 380px;
}

.customMenu .navbar-brand {
  padding: 10px 0;
  margin: 0;
  max-width: 263px;
}

.customMenu .navbar-light .navbar-nav .nav-link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  padding-right: 55px;
  margin-bottom: 34px;
  font-size: 22px;
  color: #c6aa76;
  font-family: "NAUSS-Bold";
}

.customMenu .sm-menu {
  border-radius: 0px;
  border: 0px;
  top: 92%;
  -webkit-box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px;
          box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px;
}

.customMenu .megamenu-li .dropdown-item {
  color: #fff;
  font-size: 18px;
  font-family: "NAUSS-Bold";
  text-align: right;
  padding: 10px 10px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.customMenu .megamenu-li .dropdown-item:hover:after {
  background: #167f81;
  position: absolute;
  content: "";
  height: 60%;
  top: 20%;
  width: 3px;
  right: 10px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-radius: 5px;
  background-color: #c6aa76;
}

.customMenu .megamenu-li .dropdown-item:focus,
.customMenu .megamenu-li .dropdown-item:hover {
  color: #c6aa76;
  text-decoration: none;
  background-color: #167f81 !important;
  padding-right: 20px !important;
}

.customMenu .megamenu-li .dropdown-item.active,
.customMenu .megamenu-li .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #167f81;
}

.customMenu .navbar-toggler {
  outline: none !important;
}

.customMenu .navbar-tog {
  color: #1ebdc2;
}

.customMenu .megamenu-li {
  position: static;
}

.customMenu .megamenu-li:hover {
  background: transparent url(../images/home/PolygonArrow.svg);
  background-repeat: no-repeat;
  background-position: 35% 108%;
}

.customMenu .megamenu-li .dropdown-toggle::after {
  -webkit-transform: translate(-5px, 5px);
          transform: translate(-5px, 5px);
  opacity: 0.5;
}

.customMenu .megamenu {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 15px;
}

.customMenu .megamenu h6 {
  margin-left: 21px;
}

.customMenu .megamenu i {
  width: 20px;
}

.customMenu .searchMenu > a {
  padding-right: 45px;
}

.customMenu .langMenu {
  position: relative;
}

.customMenu .langMenu > a {
  padding-right: 30px !important;
  border: 3px solid #c6aa76;
  margin-right: 24px;
  border-radius: 5px;
  padding-left: 5px;
  background: transparent url(../images/home/arrowLangB.svg) no-repeat;
  background-position: 85% center;
  min-width: 82px;
}

.customMenu .langMenu > a::after {
  display: none;
}

.customMenu .langMenu > a span {
  font-family: "GretaTextArabicARLT-Regular";
  margin-left: 5px;
}

.customMenu .langMenu .dropdown-menu {
  background: #ffffff;
  top: 44px;
  left: 0;
  width: 143px;
  -webkit-box-shadow: 0 8px 25px #0000001f;
          box-shadow: 0 8px 25px #0000001f;
  border: unset;
  border-radius: 6px;
  padding: 0;
}

.customMenu .langMenu .dropdown-menu li:nth-of-type(1) a,
.customMenu .langMenu .dropdown-menu li:nth-of-type(2) a {
  padding: 15px;
  text-align: right;
  background: #fff;
  border-radius: 6px;
  font-family: "GretaTextArabicARLT-Regular";
  font-size: 16px;
}

.customMenu .langMenu .dropdown-menu li:nth-of-type(2) a {
  font-family: "nauss-medium";
  font-size: 20px;
}

.customMenu .langMenu .dropdown-menu li:nth-of-type(1) a:hover,
.customMenu .langMenu .dropdown-menu li:nth-of-type(2) a:hover {
  background-color: rgba(0, 45, 46, 0.2);
}

.customMenu .langMenu .dropdown-menu li.spliter span {
  font-size: 18px;
  color: #c6aa76;
  font-family: "NAUSS-Bold";
  position: absolute;
  left: 22px;
  top: 2px;
}

.customMenu .langMenu .dropdown-menu li.spliter,
.customMenu .langMenu .dropdown-menu li.spliter ~ li {
  margin: 20px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.customMenu .langMenu .dropdown-menu li.spliter {
  position: relative;
  margin-top: 0;
}

.customMenu .searchMenu .megamenu {
  height: 30px !important;
  min-height: 88px !important;
  background-image: url(../images/shared/patternBC.svg) !important;
  padding: 10px 0 !important;
}

.customMenu .searchMenu .megamenu input::-webkit-input-placeholder,
.customMenu .searchMenu .megamenu input {
  color: #c6aa76;
  height: 50px;
  padding: 10px;
  border: 1px solid #017678;
  border-radius: 5px;
  background: #017678;
  font-size: 25px;
  font-family: "NAUSS-Bold";
  width: 60%;
}

.customMenu .searchMenu .megamenu input:-ms-input-placeholder,
.customMenu .searchMenu .megamenu input {
  color: #c6aa76;
  height: 50px;
  padding: 10px;
  border: 1px solid #017678;
  border-radius: 5px;
  background: #017678;
  font-size: 25px;
  font-family: "NAUSS-Bold";
  width: 60%;
}

.customMenu .searchMenu .megamenu input::-ms-input-placeholder,
.customMenu .searchMenu .megamenu input {
  color: #c6aa76;
  height: 50px;
  padding: 10px;
  border: 1px solid #017678;
  border-radius: 5px;
  background: #017678;
  font-size: 25px;
  font-family: "NAUSS-Bold";
  width: 60%;
}

.customMenu .searchMenu .megamenu input::placeholder,
.customMenu .searchMenu .megamenu input {
  color: #c6aa76;
  height: 50px;
  padding: 10px;
  border: 1px solid #017678;
  border-radius: 5px;
  background: #017678;
  font-size: 25px;
  font-family: "NAUSS-Bold";
  width: 60%;
}

.customMenu .searchMenu .megamenu .flexCenter, .customMenu .searchMenu .megamenu .plusMin, .customMenu .searchMenu .megamenu .langMenu > a, .customMenu .searchMenu .megamenu .langMenu .dropdown-menu li.spliter, .customMenu .langMenu .dropdown-menu .searchMenu .megamenu li.spliter,
.customMenu .searchMenu .megamenu .langMenu .dropdown-menu li.spliter ~ li, .customMenu .langMenu .dropdown-menu .searchMenu .megamenu li.spliter ~ li, .customMenu .searchMenu .megamenu .NewFullBanner .newsSlideWarp .NSTxt, .NewFullBanner .newsSlideWarp .customMenu .searchMenu .megamenu .NSTxt, .customMenu .searchMenu .megamenu .eventsSec .eventWapper .fromTo, .eventsSec .eventWapper .customMenu .searchMenu .megamenu .fromTo, .customMenu .searchMenu .megamenu .eventsSec .eventWapper .fromTo strong, .eventsSec .eventWapper .fromTo .customMenu .searchMenu .megamenu strong, .customMenu .searchMenu .megamenu .ourPartners .partBox .logoPart, .ourPartners .partBox .customMenu .searchMenu .megamenu .logoPart, .customMenu .searchMenu .megamenu .bannerImg2 {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.arrowCircular .swiper-button-prev:after,
.arrowCircular .swiper-rtl .swiper-button-next:after,
.arrowCircular .swiper-button-next:after,
.arrowCircular .swiper-rtl .swiper-button-prev:after {
  content: "";
  width: 44px;
  height: 44px;
  background: #ffffff url(../images/home/arrowRight.svg) no-repeat;
  background-size: 14px;
  min-width: 44px;
  border-radius: 50%;
  background-position: center;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
}

.arrowCircular .swiper-button-prev:after,
.arrowCircular .swiper-rtl .swiper-button-next:after {
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.arrowCircular .swiper-button-disabled:after {
  background-color: rgba(31, 56, 57, 0.5);
  background-image: url(../images/home/arrowRightWhit.svg);
}

.SwiperGallery,
.ourNum .thumbWrap h2,
.bannerHome,
.impAchievement .impAchiWrap .ImpAchiBox .font40,
.swiperNewsFullBn {
  direction: ltr;
}

.bannerHome {
  position: relative;
}

.bannerHome .posAbo {
  position: relative;
  content: "";
  top: -500px;
}

.bannerHome .wrapperSlideHm {
  position: relative;
  height: 825px;
  padding-top: 210px;
}

.bannerHome .wrapperSlideHm::after {
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 56, 57, 0.55);
  z-index: -1;
}

.bannerHome .wrapperSlideHm .aboImg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.bannerHome .wrapperSlideHm .container:not(.posAbo) {
  padding-right: 100px;
}

.bannerHome .wrapperSlideHm .font50 {
  font-size: 50px;
  color: #fff;
  line-height: 65px;
  margin-bottom: 55px;
  font-family: "NAUSS-Bold";
  width: 50%;
}

.bannerHome .wrapperSlideHm .txtSldes {
  direction: rtl;
}

.bannerHome .wrapperSlideHm .slideActions .readMore {
  margin-left: 30px;
}

.innerBanner .font50 {
  margin-bottom: 16px;
}

.innerBanner .p20 {
  width: 50%;
  color: #fff;
  margin-bottom: 50px;
}

.innerBanner .videoPl {
  position: absolute;
  left: 50%;
  top: 50%;
}

.innerBanner .slideActions a:last-of-type {
  margin-left: 25px;
}

.swiper2Style {
  position: absolute;
  bottom: 57px;
  width: 100%;
  background-color: #2ba94c;
}

.swiper2Style .wapperSlideTow {
  position: relative;
  width: 100%;
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.swiper2Style .wapperSlideTow > img {
  border: 5px solid #fff;
  border-radius: 8px;
  position: absolute;
  z-index: -1;
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
}

.swiper2Style .wapperSlideTow .font18, .swiper2Style .wapperSlideTow .NFooter .contactUs a, .NFooter .contactUs .swiper2Style .wapperSlideTow a,
.swiper2Style .wapperSlideTow .NFooter .importantlinks a, .NFooter .importantlinks .swiper2Style .wapperSlideTow a {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 8px 7px;
  text-align: center;
  line-height: 26px;
  height: 63px;
}

.swiper2Style .swiper-twoHome {
  padding: 0 19px;
}

.swiper2Style .swiper-button-next {
  right: -8px;
}

.swiper2Style .swiper-button-prev {
  left: -8px;
}

.swiper2Style .swiper-button-prev::after,
.swiper2Style .swiper-button-next::after {
  color: #fff;
  font-size: 17px;
}

.compSection {
  max-width: 1780px;
  margin: 0 auto;
}

.compSection .row {
  margin: 0;
}

.compSection .capmWapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
  height: 415px;
  overflow: hidden;
}

.compSection .capmWapper.toBtom {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.compSection .capmWapper.withTxt .capmTxt {
  position: relative;
}

.compSection .capmWapper.withTxt * {
  color: #fff;
}

.compSection .capmWapper.withTxt::before {
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #31302c;
  opacity: 0.4;
}

.compSection .capmWapper:hover > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.compSection .capmWapper .capmTxt {
  padding: 20px 50px;
}

.compSection .capmWapper .font40 {
  -webkit-line-clamp: 5;
  line-height: 1.2;
  margin: 0;
}

.compSection .capmWapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  z-index: -1;
}

.compSection .col-md-6,
.compSection .col-md-4 {
  padding: 0;
}

.compSection .textTwoCol {
  background: #F1F4F6;
  height: 100%;
  padding: 60px 150px;
}

.compSection .textTwoCol .font35 {
  margin-bottom: 30px;
}

.compSection .textTwoCol .p16 {
  margin-bottom: 20px;
}

.compSection2 .capmWapper {
  height: 470px;
}

.compSection2 .capmWapper .font40 {
  font-size: 3.5rem;
}

.compSection2 .capmWapper:not(.toBtom) .capmTxt .font20BG {
  background-color: unset;
}

.slider5Item {
  background: rgba(0, 95, 97, 0.1);
  padding: 88px 0 58px;
}

.slider5Item .swiper-slide:not(.swiper-slide-duplicate-prev) {
  border-left: 1px solid #005f6126;
}

.slider5Item .swiper-wrapper {
  margin-bottom: 50px;
}

.slider5Item .slid5Warp {
  text-align: center;
  margin: 0 3rem;
  padding-bottom: 50px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.slider5Item .slid5Warp:hover {
  background-color: #c6aa76;
}

.slider5Item .slid5Warp .iconWap {
  padding-top: 50px;
  padding-bottom: 65px;
  height: 190px;
}

.slider5Item .slid5Warp .iconWap img {
  max-width: 85px;
}

.slider5Item .slid5Warp .font24 {
  -webkit-line-clamp: 1;
}

.NewFullBanner .posAbo {
  position: relative;
  content: "";
  top: -280px;
}

.NewFullBanner .newsSlideWarp {
  position: relative;
  min-height: 561px;
  background: #00000040;
}

.NewFullBanner .newsSlideWarp > img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.NewFullBanner .newsSlideWarp .NSTxt * {
  color: #fff;
  text-align: center;
}

.NewFullBanner .newsSlideWarp .NSTxt {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 561px;
}

.NewFullBanner .newsSlideWarp .NSTxt .font30, .NewFullBanner .newsSlideWarp .NSTxt .loadMore {
  margin-bottom: 25px;
}

.NewFullBanner .newsSlideWarp .NSTxt .font20, .NewFullBanner .newsSlideWarp .NSTxt .sildeTabs .nav-pills .nav-link, .sildeTabs .nav-pills .NewFullBanner .newsSlideWarp .NSTxt .nav-link {
  margin-bottom: 33px;
  width: 80%;
}

.heading {
  text-align: center;
}

.heading .font40 {
  margin-bottom: 16px;
}

.heading .font20, .heading .sildeTabs .nav-pills .nav-link, .sildeTabs .nav-pills .heading .nav-link {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.artworkRight,
.artworkLeft {
  background-image: url(../images/home/ArtworkMenu.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.artworkLeft {
  background-position: bottom left;
}

.bgGray {
  background-color: #f2f2f2;
}

.newsSection {
  padding: 80px 0;
}

.newsSection .newsBox {
  background: #fff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  display: inline-block;
}

.newsSection .newsBox:hover {
  -webkit-box-shadow: 0 8px 35px rgba(81, 87, 97, 0.35);
          box-shadow: 0 8px 35px rgba(81, 87, 97, 0.35);
}

.newsSection .newsBox:hover .imgB img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.newsSection .newsBox:hover .font24 {
  text-decoration: underline;
}

.newsSection .newsBox .imgB {
  height: 281px;
  overflow: hidden;
}

.newsSection .newsBox .imgB img {
  height: 100%;
  width: 100%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.newsSection .newsBox .txtN {
  padding: 0 17px 31px;
}

.newsSection .newsBox .txtN .date {
  padding: 19px 0 10px;
}

.newsSection .newsBox .txtN .font24 {
  -webkit-line-clamp: 3;
  height: 80px;
}

.newsSection .text-center {
  padding-top: 42px;
}

.eventsSec {
  padding: 75px 0 85px;
  position: relative;
}

.eventsSec .heading * {
  color: #fff;
}

.eventsSec::after {
  left: 0;
  top: 0;
  width: 100%;
  height: 475px;
  background: #005f61 url(../images/home/Artwork012.svg) no-repeat;
  background-position: left bottom;
  z-index: -1;
}

.eventsSec .text-center.col-md-12 {
  margin-top: 45px;
}

.eventsSec .eventWapper {
  background: #fff;
  padding: 18px;
  -webkit-box-shadow: 0 8px 16px #0000001a;
          box-shadow: 0 8px 16px #0000001a;
  padding-bottom: 42px;
  display: block;
  margin-bottom: 40px;
}

.eventsSec .eventWapper .fromTo {
  background: #005f6126;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 4px;
  height: 240px;
}

.eventsSec .eventWapper .fromTo strong {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 5rem;
  border: 4px solid #005f61;
  color: #005f61;
  font-family: "NAUSS-Bold";
}

.eventsSec .eventWapper .fromTo p {
  color: #c6aa76;
  font-size: 26px;
  font-family: "NAUSS-Bold";
}

.eventsSec .eventWapper .fromTo span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  margin-top: 10px;
  color: #005f61;
  font-family: "GretaTextArabicARLT-Bold";
}

.eventsSec .eventWapper .date {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 29px 0 40px;
}

.eventsSec .eventWapper .font20Bold {
  text-align: center;
}

.eventsSec .eventWapper:hover .font20Bold {
  text-decoration: underline;
}

.studiesSec {
  background-color: #f2f2f2;
  padding: 70px 0;
}

.studiesSec .text-center.col-md-12 {
  margin-top: 40px;
}

.studiesSec .studyBox1 {
  height: 505px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 50px 23px;
}

.studiesSec .studyBox1 > img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.studiesSec .studyBox1 .stTxt * {
  color: #fff;
}

.studiesSec .studyBox1 .stTxt {
  position: relative;
  z-index: 2;
}

.studiesSec .studyBox1 .stTxt .date {
  margin-bottom: 12px;
}

.studiesSec .studyBox1 .stTxt .font24 {
  margin-bottom: 9px;
}

.studiesSec .studyBox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 33px;
}

.studiesSec .studyBox2 .imgSt {
  width: 325px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.studiesSec .studyBox2 .txtSt {
  width: calc(100% - 325px);
  padding: 20px;
}

.studiesSec .studyBox2 .txtSt .date,
.studiesSec .studyBox2 .txtSt .font20Bold {
  margin-bottom: 12px;
}

.studiesSec .studyBox2 .txtSt .font20Bold {
  line-height: 1.8;
  -webkit-line-clamp: 3;
}

.ourNum {
  padding: 85px 0 0px;
}

.ourNum .heading .font40 {
  margin-bottom: 45px;
}

.ourNum .SwiperThum .swiper-wrapper {
  -webkit-transform: unset !important;
          transform: unset !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ourNum .SwiperThum .swiper-wrapper .swiper-slide-thumb-active {
  background: #005f61;
}

.ourNum .SwiperThum .swiper-wrapper .swiper-slide-thumb-active .thumbWrap h2 {
  color: #fff;
}

.ourNum .SwiperThum .swiper-wrapper .swiper-slide {
  min-width: 300px;
  height: 200px;
  cursor: pointer;
}

.ourNum .SwiperGallery .swiper-button-next::after,
.ourNum .SwiperGallery .swiper-button-prev::after {
  background: transparent url(../images/shared/arrow-square-left-mainColor.svg);
  content: "";
  width: 30px;
  height: 30px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.ourNum .SwiperGallery .swiper-button-prev::after {
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.ourNum .SwiperGallery .swiper-slide {
  background-color: #f2f2f2;
  height: 430px;
}

.ourNum .galleryWrap {
  padding: 110px 50px 45px;
  text-align: center;
}

.ourNum .galleryWrap .boxImg {
  max-height: 75px;
  margin-bottom: 45px;
}

.ourNum .galleryWrap .boxImg img {
  max-height: 75px;
}

.ourNum .galleryWrap .font30, .ourNum .galleryWrap .loadMore {
  -webkit-line-clamp: 4;
}

.ourNum .thumbWrap {
  padding: 0 20px;
}

.ourNum .thumbWrap h2 {
  font-size: 10rem;
  font-family: "NAUSS-Bold";
  color: #005f61;
  line-height: 1.1;
  -webkit-line-clamp: 1;
}

.ourNum .thumbWrap p {
  font-size: 2.2rem;
  font-family: "GretaTextArabicARLT-Bold";
  color: #c6aa76;
}

.Subscription {
  margin-top: 120px;
}

.subsBox {
  position: relative;
  z-index: 2;
  max-width: 920px;
  background: #fff;
  margin: 0 auto;
  margin-bottom: -64px;
  padding: 24px 30px;
  border-radius: 16px;
  -webkit-box-shadow: 0 -10px 20px #0000000f;
          box-shadow: 0 -10px 20px #0000000f;
}

.subsBox .inputSub {
  min-width: 395px;
  border: 2px solid #005f612e;
  border-radius: 8px;
  height: 57px;
}

.subsBox .inputSub input {
  height: 52px;
  border: unset;
  padding: 0 10px;
  margin-right: 3px;
  width: calc(100% - 70px);
}

.subsBox .inputSub .inInput {
  width: 63px;
  background: #005f61;
  height: 50px;
  border: unset;
  border-radius: 7px;
}

.NFooter {
  background: #005f61;
  padding: 119px 0 0 0;
  position: relative;
}

.NFooter .scrolingUp {
  position: absolute;
  left: 55px;
  top: 41px;
}

.NFooter .hr {
  color: #bad0d1;
  margin: 41px 0 38px;
}

.NFooter .txtLogo p {
  color: #fff;
}

.NFooter .txtLogo p {
  margin: 12px 0 0 0;
  width: 81%;
}

.NFooter .font22 {
  color: #c6aa76;
  margin-bottom: 25px;
}

.NFooter .contactUs,
.NFooter .importantlinks {
  padding: 0;
  list-style: none;
}

.NFooter .contactUs a,
.NFooter .importantlinks a {
  color: #ffff;
  margin-bottom: 21px;
  display: inline-block;
}

.NFooter .contactUs a img,
.NFooter .importantlinks a img {
  margin-left: 12px;
  margin-top: -8px;
}

.NFooter .contactUs a span,
.NFooter .importantlinks a span {
  direction: ltr;
  display: inline-block;
}

.NFooter .importantlinks li {
  width: 50%;
  float: left;
}

.NFooter .importantlinks li a {
  position: relative;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.NFooter .importantlinks li a:hover {
  padding-right: 15px;
  color: #c6aa76;
  text-decoration: underline;
}

.NFooter .importantlinks li a:hover::after {
  right: 0;
  top: 8px;
  width: 8px;
  height: 10px;
  background: transparent url(../images/shared/affowFooter.svg) no-repeat;
}

.NFooter .socialFooter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NFooter .socialFooter .socialBanner {
  position: unset;
  -webkit-transform: unset;
          transform: unset;
  display: block;
}

.NFooter .socialFooter .socialBanner a {
  margin-left: 28px;
}

.NFooter .socialFooter .appMedia a {
  margin-right: 28px;
}

.footerNewBg {
  background: #002d2e1a;
  padding: 30px 0;
  margin-top: 33px;
}

.footerNewBg .font18, .footerNewBg .NFooter .contactUs a, .NFooter .contactUs .footerNewBg a,
.footerNewBg .NFooter .importantlinks a, .NFooter .importantlinks .footerNewBg a {
  font-family: "NAUSS-Bold";
  color: #c6aa76;
}

.footerNewBg .policy {
  font-size: 18px;
  color: #c6aa76;
}

.footerNewBg .policy a {
  font-size: 18px;
  font-family: "GretaTextArabicARLT-Regular";
  color: #c6aa76;
  padding: 0 10px;
  display: inline-block;
}

.bgBreadcrumb {
  background-color: #005F61;
  padding: 30px 0 20px 0;
  margin: 0;
  background-image: url(../images/shared/patternBC.svg) !important;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.bgBreadcrumb .breadcrumbCum {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bgBreadcrumb .breadcrumbCum a {
  position: relative;
  padding-left: 40px;
  color: #fff;
}

.bgBreadcrumb .breadcrumbCum a > img {
  margin-top: -5px;
}

.bgBreadcrumb .breadcrumbCum a::after {
  top: -3px;
  left: 10px;
  width: 15px;
  height: 21px;
  background: transparent url(../images/shared/arrowBC.svg) no-repeat;
}

.bgBreadcrumb .breadcrumbCum li:last-of-type a {
  color: #C6AA76;
  pointer-events: none;
}

.bgBreadcrumb .breadcrumbCum li:last-of-type a::after {
  display: none;
}

.bgBreadcrumb .socialBannerBC a {
  margin-right: 25px;
}

.impAchievement {
  padding: 71px 0;
}

.impAchievement .impAchiWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 14px;
}

.impAchievement .impAchiWrap .ImpAchiBox {
  padding: 45px 30px 45px 30px;
  width: 20%;
}

.impAchievement .impAchiWrap .ImpAchiBox:not(:last-of-type) {
  border-left: 1px solid #005f611a;
}

.impAchievement .impAchiWrap .ImpAchiBox:hover {
  background-color: rgba(35, 31, 32, 0.05);
}

.impAchievement .impAchiWrap .ImpAchiBox .imgBoxAch {
  height: 60px;
}

.impAchievement .impAchiWrap .ImpAchiBox .font40 {
  font-size: 9rem;
  -webkit-line-clamp: 1;
}

.impAchievement .impAchiWrap .ImpAchiBox .p22B {
  margin: 0;
}

.ourPartners {
  padding: 100px 0 0px;
}

.ourPartners .partBox {
  padding: 60px 20px 20px;
  border-radius: 4px;
  border: 1px solid #DDE6E6;
  margin-bottom: 63px;
  -webkit-transition: .25s;
  transition: .25s;
}

.ourPartners .partBox .logoPart {
  margin-bottom: 32px;
  height: 115px;
}

.ourPartners .partBox .lineinc {
  width: 0px;
  background: #BECFCF;
  display: inline-block;
  height: 2px;
  -webkit-transition: .25s;
  transition: .25s;
}

.ourPartners .partBox .p16 {
  margin: 12px 0 0 0;
  visibility: hidden;
  -webkit-transition: .25s;
  transition: .25s;
  height: 60px;
}

.ourPartners .partBox:hover {
  -webkit-box-shadow: 0 5px 38px rgba(81, 87, 97, 0.15);
          box-shadow: 0 5px 38px rgba(81, 87, 97, 0.15);
}

.ourPartners .partBox:hover .lineinc {
  width: 90px;
}

.ourPartners .partBox:hover .p16 {
  visibility: visible;
}

.programsList {
  padding: 70px 0;
}

.programsList .tabsStyle1 {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 31px;
}

.programsList .loadMore {
  margin-top: 40px;
}

.bannerImg2 {
  position: relative;
  min-height: 622px;
}

.bannerImg2::after {
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 95, 97, 0.8);
}

.bannerImg2 > img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.bannerImg2 .BLTxt {
  margin: 0 auto;
  height: 100%;
  text-align: center;
  padding: 100px 200px;
}

.bannerImg2 .BLTxt .font40 {
  margin-bottom: 42px;
}

.bannerImg2 .BLTxt * {
  color: #fff;
}

.actionPrgDetails a {
  background: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 40px;
  min-width: 550px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  height: 103px;
}

.actionPrgDetails a img {
  margin-left: 50px;
}

.PDetails {
  padding: 35px 15px 13px;
  border-radius: 8px;
  background: #004647b3;
  width: 373px;
}

.PDetails > div {
  text-align: right;
  border-bottom: 2px solid #ffffff1a;
  margin-bottom: 14px;
  padding-bottom: 14px;
}

.PDetails > div:last-of-type {
  border-bottom: 0px solid #ffffff1a;
}

.PDetails > div img {
  display: inline-block;
  margin-bottom: 19px;
}

.PDetails > div .p18 {
  display: block;
  color: #fff;
}

.programDetails .wrapperSlideHm {
  height: 582px;
  padding-top: 33px;
}

.programDetails .wrapperSlideHm .container {
  padding-right: 25px !important;
}

.programDetails .wrapperSlideHm .progBannerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.programDetails .wrapperSlideHm .progBannerFlex .txtSldes .font50 {
  margin-bottom: 10px;
}

.programDetails .wrapperSlideHm .progBannerFlex .actionPrgDetails {
  margin-top: 60px;
}

.programDetails .wrapperSlideHm .progBannerFlex .actionPrgDetails a:first-of-type {
  margin-left: 40px;
}

.programDetails .PDetails .p18 {
  font-size: 1.7rem;
}

.progList {
  border: 1px solid #E3E7EC;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #fff;
}

.progList .font24 {
  padding: 10px 26px;
  background: #005F61;
  color: #fff;
  border-radius: 4px 4px 0 0;
}

.progList ul {
  padding: 0 26px;
  list-style: none;
}

.progList ul li {
  border-bottom: 1px solid #005f611a;
}

.progList ul li:last-of-type {
  border-bottom: 0;
}

.progList ul li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.progList ul li a .widthFor {
  width: 40px;
  margin-left: 12px;
  display: inline-block;
}

.progTxtBg {
  padding: 78px 0 45px;
  position: relative;
}

.progTxtBg::after {
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 340px;
  background-color: #F2F2F2;
  z-index: -1;
}

.progTxtBg .progTxt .font40 {
  margin: 16px 0;
}

.progTxtBg .progTxt .p20 {
  width: 63%;
  -webkit-line-clamp: 4;
}

.progTxtBg .progTxt .videoProg {
  text-align: left;
  position: relative;
}

.progTxtBg .progTxt .videoProg .videoPl {
  width: 441px;
  height: 303px;
  left: 0;
  top: 0;
}

.progTxtBg .progTxt .videoProg .videoPl::after {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.progTxtBg .progTxt .videoProg .videoPl strong {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  z-index: 2;
}

.aimUl {
  padding: 0;
}

.aimUl li {
  list-style-type: none;
  position: relative;
  padding-right: 20px;
  margin-bottom: 25px;
}

.aimUl li::marker {
  color: transparent;
}

.aimUl li .p18 {
  margin-bottom: 0;
}

.aimUl li::after {
  right: 0;
  top: 8px;
  width: 12px;
  height: 12px;
  border: 3px solid #C6AA76;
  border-radius: 50px;
}

.aimProg {
  padding: 90px 60px;
}

.aimProg .aimUl li {
  padding: 10px 47px;
  padding-left: 15px;
  border-radius: 8px;
  margin-bottom: 5px;
  margin-left: 10%;
  -webkit-transition: .25s;
  transition: .25s;
}

.aimProg .aimUl li:hover {
  background: #002d2e0d;
}

.aimProg .aimUl li::after {
  top: 16px;
  right: 20px;
}

.resultEducation {
  background-color: #0B6C6E;
  padding: 55px 40px;
}

.resultEducation .heading * {
  color: #fff;
}

.resultEducation .resultEdu {
  padding-bottom: 47px;
}

.resultEducation .resultEdu .swiper-slide-next + .swiper-slide .resEdWrapper div {
  border-left: 0px solid #c6aa7640;
}

.resultEducation .resEdWrapper div {
  border-left: 1px solid #c6aa7640;
  height: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 42px;
}

.resultEducation .resEdWrapper div .p18 {
  margin-left: 50px;
  color: #C6AA76;
  -webkit-line-clamp: 4;
}

.advantSec {
  padding: 83px 0 63px 0;
}

.advantSec .forTwoFlex {
  max-width: 680px;
  margin: 0 auto;
}

.sildeTabs .nav-pills {
  border-left: 1px solid #DED7CB;
  padding: 35px 0;
  margin-left: 75px;
}

.sildeTabs .nav-pills .nav-link {
  padding: 15px 31px;
  color: #005F61;
  margin-bottom: 10px;
  min-width: 268px;
  border-radius: 0;
}

.sildeTabs .nav-pills .nav-link.active {
  background-color: #FFFFFF;
}

.planEdu {
  padding: 40px 122px;
}

.planEdu .col-md-12 {
  margin: 0 auto;
}

.planEdu .tab-content {
  width: 100%;
  height: 100%;
}

.planEdu table {
  text-align: center;
}

.planEdu table thead th:nth-of-type(2) {
  width: 75%;
}

.planEdu table tbody tr:last-of-type {
  background: #005F61;
}

.planEdu table tbody tr:last-of-type td {
  color: #fff;
}

.bgTwoCol {
  padding: 83px 40px 0px 40px;
}

.bgTwoCol .row {
  margin-bottom: 70px;
}

.bgTwoCol .row:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.bgTwoCol .collegeImg {
  max-height: 485px;
}

.bgTwoCol .collegeTxt {
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.bgTwoCol .collegeTxt .font40 {
  margin-bottom: 42px;
}

.bgTwoCol .collegeTxt .p20 {
  margin-bottom: 15px;
  width: 90%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
  .customMenu .navbar-light .navbar-nav .nav-link {
    padding-right: 25px;
    font-size: 16px;
  }
}

@media (min-width: 1700px) {
  .container {
    max-width: 1600px;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .customMenu .megamenu-li {
    max-width: 1600px;
  }
  .customMenu .megamenu-li:hover .megamenu {
    display: block;
  }
}
/*# sourceMappingURL=styleRTL.css.map */